<script>
    var jQdashboard;

    jQuery(function () {
        jQdashboard = jQuery('#{{ dashboard.id }}').dashboard({});
    });
</script>

<div class="dashboard" id="{{ dashboard.id }}">
    {% for colnr, boxes in dashboard.widgets %}
        <ul class="connected list {{ colnr }}">
            {% for box in boxes %}
                {% include 'plugins/' ~ box.name ~ '.twig' %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>