{% extends "widget.twig" %}


{% block widgetContent %}
    <div id="{{ widget.uniqid }}_placeholder" class="demo-placeholder" style="height: 90%">
        {{ widget.rssfeed|raw }}
    </div>
    {#{{ addJavascript(javascript)  }}#}
{% endblock %}