{% extends "widget.twig" %}

{% block widgetContent %}
    <table class="dashbaoardTable">
        <tr>
            {% for Column in box.columns %}
                <th>a
                    {{ Column }}
                </th>
            {% endfor %}
        </tr>

        {% for row in box.content %}
            <tr>
                {% for key, col in row %}
                    <td>
                        {{ col }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}